@import "tailwindcss";

body {
 background-color: #170C10;
 font-family: "Quantico", sans-serif;
  color:#F6EEF1;
  min-height: 100vh;
  background-color: #1a1a1f;
  background-image:
    repeating-linear-gradient(0deg, transparent 0px, transparent 39px, rgba(255,255,255,0.03) 39px, rgba(255,255,255,0.03) 40px),
    repeating-linear-gradient(90deg, transparent 0px, transparent 39px, rgba(255,255,255,0.03) 39px, rgba(255,255,255,0.03) 40px);
}